.App {
  text-align: center;
}
input {
  padding: 9px;
  margin-right: 8px;
}
input:hover{
  padding:11px;
  margin-right:10px
}
ul {
  list-style: none;
}
li {
  margin: 12px 0;
}

.deleteButton{
  font-size: 18px;
  margin-left: 8px;
  border: none;
  color : white;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: transparent;
}
.deleteButton:hover {
  font-size: 20px;
}

.addButton {
  background-color: #27b400;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #3dff91;
}